name: Publish Package to npm

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
permissions: write-all

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - run: bun i
      - run: bun test --coverage
      - run: bun lint
      - run: bun run build

  changepacks:
    name: changepacks
    runs-on: ubuntu-latest
    permissions:
      # create pull request comments
      pull-requests: write

      # Actions > General > Workflow permissions for creating pull request
      # Create brench to create pull request
      contents: write
    needs:
      - check
    steps:
      - uses: actions/checkout@v5
      - uses: changepacks/action@main
        id: changepacks
    outputs:
      changepacks: ${{ steps.changepacks.outputs.changepacks }}

  publish:
    runs-on: ubuntu-latest
    needs:
      - changepacks
    if: contains(needs.changepacks.outputs.changepacks, 'package.json')
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - run: bun i
      - run: bun test --coverage --coverage-reporter=lcov
      - run: bun run build
      - name: Upload to codecov.io
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true
          files: ./coverage/lcov.info
      - run: bun publish --access public --ignore-scripts
        env:
          NPM_CONFIG_TOKEN: ${{ secrets.NPM_TOKEN }}
